body{
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    min-height: 100% ;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.main{
    flex: 1 1 auto;
}


.header {
 
&__container{ 
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px; 
}

}
#logo{
    margin-right: 12px;
}
.location{
    display: flex; 
    align-items: center;

    color:  #424242;
    text-align: center;  
    font-size: 18px; 
    font-weight: 700;
    line-height: 1;

    &__deliver{
        margin-right: 12px;
    }

    &__svg{
        margin-right: 9px;
    }
    &__current{
    font-weight: 400;
    margin-right: 4px;
    }
}
.nav{
    display: flex; 
    align-items: center;
     
}

.search {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-right: 30px;

    font-size: 18px;
    font-weight: 700;

}

.order{
    display: flex; 
    padding-top: 121px; 

    background-image: url(../images/order/order_bg.jpg);
    background-size: cover;
    margin-bottom: 80px;

    &__title{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: auto;
    }

    &__title-text{
        color: #fff;
        font-size: 77px;
        font-style: normal;
        font-weight: 700;
        line-height: 1; 

        margin-bottom: 15px;
    }

    &__hint{
        color: #504F4F;  
        font-size: 22px; 
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 32px;
    }
}

.order-card {
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 856px; 
    }

    &__labels{
        display: flex;
        gap: 8px;
        box-sizing: border-box;
        border: 0px;
        border-bottom: 1px;
        border-style: solid;
        border-color: #EEE;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #fff;


        padding: 24px;
        width: 100%;
        
        
    }
    &__input{

        position: relative;
        min-width: 100%;
        border: 0px;
        border-radius: 8px;
        background-color: #F5F5F5;
    }
  

    &__inputs{
        display: flex;
        justify-content: center;
        gap: 8px;
        box-sizing: border-box; 
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #fff;


        padding: 24px;
        width: 100%;
    }

    &__input-block{
        display: flex;
        justify-content: center;
        position: relative;
        flex-grow: 1; 
    }

    &__input-block input[type="submit"]{
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        
    }
    
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 24px;
        border: 0px;
        border-radius: 8px; 
        background: #FEF1EA;
    }
    &__eat{
        
    }   

    &__button{
        display: flex;
        justify-content: center;
        gap: 10px;
 
        font-size: 18px; 
        font-weight: 700;
        line-height: 1;  
        color: #fff;

        
        background: linear-gradient(138deg, #FF7A7A 0%, #F65900 100%);
    }
 
}

.location-svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 100;
} 
 
input[type=text] {  
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

 .work{
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0.00) 100%);
    margin-bottom: 80px;

    &__title{
        color: #F17228;
        text-align: center;  
        font-size: 43px;  
        line-height: 1.12;
        margin-bottom: 71px;
    }

    &__step-title{
        color: #434343; 
        font-size: 22px;  
        line-height: 1.2; 
        margin-bottom: 10px;
    }

    &__text{
        color:   #9E9E9E;   
        font-size: 18px; 
        font-weight: 400;
        line-height: 1.4;  
    }

    &__container{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
       
    }

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 307px;
    }
 }

 .popular{
    margin-bottom: 80px;

    &__title{
        color: #212121;
        text-align: center;  
        font-size: 43px; 
        font-weight: 700;
        line-height: 1.12;
        margin-bottom: 88px;
    }

    &__container{
        display: flex;
        flex-direction: column;
    }
    
    &__list{
        display: flex;
        flex-direction: row;
    }

    &__name{
        color: #424242;  
        font-size: 22px; 
        font-weight: 700;
        line-height: 1.2; 
    }


 }

 .features{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        margin-bottom: 88px;
    }

    &__info-thumb{
        display: flex; 
        margin-bottom: 32px;
        justify-content: start;

    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__img{
         display: block;
         margin-bottom: 24px;
    }

    &__logo{
        margin-right: 24px; 
    }

    &__name-block{
        display: flex; 
        flex-direction: column;
        align-items: start;
   } 
    &__name{
        color: #424242; 
        font-size: 22px; 
        font-weight: 700;
        line-height: 1.2; 

        margin-bottom: 4px;
    }

    &__rait{
        display: flex;  
        justify-content: start; 
   }

   &__raiting{ 
        color:  #FFB30E;  
        font-size: 22px; 
        font-weight: 400;
        line-height: 1.2;  

        margin-left: 8px;
    }

    &__open-status{
         
        padding: 8px 16px; 
    }

    &__open-status-tom{  
        border-radius: 16px;
        background: rgba(241, 114, 40, 0.20);
        color: var(--theme-warning, #F17228);  
        font-size: 22px; 
        font-weight: 700;
        line-height: 1.2;  
    } 

    &__open-status-now{
        border-radius: 16px;
        background: #E4F1D8;
        color: var(--theme-success, #79B93C); 
        font-size: 22px; 
        font-weight: 700;
        line-height: 1.2; 
    }

    &__btn{
        display: inline-block;
        width: auto;
        border-radius: 14px;
        margin-bottom: 80px;

        color:   #FFF;
        text-align: center;  
        font-size: 18px; 
        font-weight: 700;
        line-height: 1; 

        background: linear-gradient(141deg, #FFBA26 0%, #FF9A0E 100%);
        box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    }
    &__btn-svg{
        margin-left: 10px;
    }
}

.install{
        position: relative;
        overflow: hidden;
        background: linear-gradient(208deg, #FFAE00 0%, #FF8A00 100%);
        margin-bottom: 80px;

        &__container{
        padding-top: 118px; 
        padding-bottom: 208px;
        position: relative;   
        min-height: 589px;       
    }
 
    &__roud{
        --size: 7200px;
        background: #FEEFD0;
        width: var(--size);
        height: var(--size);
        position: absolute;
        border-radius: 100%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20%;
        z-index: 1;
    }
    &__img{
        position: absolute;
        z-index: 60;
        bottom: 0px;
    }
    &__img-ferst{
        left: 12%;
        z-index: 56;
    }
    &__img-step{
        left: 31%;
        z-index: 57;
    }

    &__title{    
        color: #FFB800;
        font-size: 68px; 
        font-weight: 700;
        line-height: 1.06;  
        margin-bottom: 16px;
    }
    &__wrapper{
        position: absolute;
        right: 130px;
        z-index: 60;
    }
    &__text{
        display: block;
        width: 432px;
        text-align: left;
        word-wrap: break-word;
        color: #827E7E; 
        font-family: Open Sans;
        font-size: 18px; 
        font-weight: 400;
        line-height: 1.4; 
        margin-bottom: 40px;
    }
    &__btns{
        display: flex;
        gap: 8px;
    }
    &__btn{
        padding: 0;
        border-radius:  7px;
        overflow: hidden;
    }
}

.present{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 350px;
        padding-bottom: 350px;
        gap: 80px;
    }

    &__block{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 18px;        
        overflow: hidden;
        box-shadow: 0px 27px 82px 0px rgba(124, 124, 124, 0.28), 0px 14px 15px 0px rgba(124, 124, 124, 0.06);
    }
 

    &__thumb{
        padding: 56px;
        max-width: 519px ;
        text-align: left;
        border-radius: 16px; 

    }
    &__title{
        color: #353535;  
        font-size: 43px; 
        line-height: 1.12; 
        margin-bottom: 19px;
    }
    &__highlight{
        color: #FFB30E;
    }
    &__text{
        color: rgba(97, 97, 97, 0.69); 
        font-size: 18px; 
        font-weight: 600;
        line-height: 1.4;  
        margin-bottom: 111px;
    }
    &__button{
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background:  linear-gradient(150deg, #FFB800 0%, #FF8A00 100%);
    }
}

.cta{

    background-image: url(../images/cta/bg.jpg);
    background-size: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 91px;
    padding-bottom: 75px;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        color: var(--theme-white, #FFF);
        text-align: center; 
        font-size: 57px; 
        font-weight: 900;
        line-height: 0.97; 

        max-width: 728px; 
        margin-bottom: 62px;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 8px;
        background: linear-gradient(139deg, #F17228 0%, #F15E28 100%);

        color: var(--theme-white, #FFF); 
        font-size: 18px; 
        font-weight: 900;
        line-height: 1;  
        text-transform: uppercase;
      
    }
}