@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

:root {
  --main-color: #FFB30E;
  --second-color: #F17228;
}

body {
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.location {
  display: flex;
  align-items: center;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.nav {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
}

.order {
  display: flex;
  padding-top: 121px;
  background-image: url(../images/order/order_bg.jpg);
  background-size: cover;
  margin-bottom: 80px;
}
.order__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: auto;
}
.order__title-text {
  color: #fff;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}
.order__hint {
  color: #504F4F;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 32px;
}

.order-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 856px;
}
.order-card__labels {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #EEE;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  padding: 24px;
  width: 100%;
}
.order-card__input {
  position: relative;
  min-width: 100%;
  border: 0px;
  border-radius: 8px;
  background-color: #F5F5F5;
}
.order-card__inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  padding: 24px;
  width: 100%;
}
.order-card__input-block {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
.order-card__input-block input[type=submit] {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.order-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  border: 0px;
  border-radius: 8px;
  background: #FEF1EA;
}
.order-card__button {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background: linear-gradient(138deg, #FF7A7A 0%, #F65900 100%);
}

.location-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 100;
}

input[type=text] {
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.work {
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0) 100%);
  margin-bottom: 80px;
}
.work__title {
  color: #F17228;
  text-align: center;
  font-size: 43px;
  line-height: 1.12;
  margin-bottom: 71px;
}
.work__step-title {
  color: #434343;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.work__text {
  color: #9E9E9E;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}
.work__container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.work__list {
  display: flex;
  justify-content: space-between;
}
.work__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
}

.popular {
  margin-bottom: 80px;
}
.popular__title {
  color: #212121;
  text-align: center;
  font-size: 43px;
  font-weight: 700;
  line-height: 1.12;
  margin-bottom: 88px;
}
.popular__container {
  display: flex;
  flex-direction: column;
}
.popular__list {
  display: flex;
  flex-direction: row;
}
.popular__name {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 88px;
}
.features__info-thumb {
  display: flex;
  margin-bottom: 32px;
  justify-content: start;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.features__img {
  display: block;
  margin-bottom: 24px;
}
.features__logo {
  margin-right: 24px;
}
.features__name-block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.features__name {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}
.features__rait {
  display: flex;
  justify-content: start;
}
.features__raiting {
  color: #FFB30E;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 8px;
}
.features__open-status {
  padding: 8px 16px;
}
.features__open-status-tom {
  border-radius: 16px;
  background: rgba(241, 114, 40, 0.2);
  color: var(--theme-warning, #F17228);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
.features__open-status-now {
  border-radius: 16px;
  background: #E4F1D8;
  color: var(--theme-success, #79B93C);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
.features__btn {
  display: inline-block;
  width: auto;
  border-radius: 14px;
  margin-bottom: 80px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(141deg, #FFBA26 0%, #FF9A0E 100%);
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
}
.features__btn-svg {
  margin-left: 10px;
}

.install {
  position: relative;
  overflow: hidden;
  background: linear-gradient(208deg, #FFAE00 0%, #FF8A00 100%);
  margin-bottom: 80px;
}
.install__container {
  padding-top: 118px;
  padding-bottom: 208px;
  position: relative;
  min-height: 589px;
}
.install__roud {
  --size: 7200px;
  background: #FEEFD0;
  width: var(--size);
  height: var(--size);
  position: absolute;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  z-index: 1;
}
.install__img {
  position: absolute;
  z-index: 60;
  bottom: 0px;
}
.install__img-ferst {
  left: 12%;
  z-index: 56;
}
.install__img-step {
  left: 31%;
  z-index: 57;
}
.install__title {
  color: #FFB800;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.06;
  margin-bottom: 16px;
}
.install__wrapper {
  position: absolute;
  right: 130px;
  z-index: 60;
}
.install__text {
  display: block;
  width: 432px;
  text-align: left;
  word-wrap: break-word;
  color: #827E7E;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
}
.install__btns {
  display: flex;
  gap: 8px;
}
.install__btn {
  padding: 0;
  border-radius: 7px;
  overflow: hidden;
}

.present__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 350px;
  padding-bottom: 350px;
  gap: 80px;
}
.present__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 27px 82px 0px rgba(124, 124, 124, 0.28), 0px 14px 15px 0px rgba(124, 124, 124, 0.06);
}
.present__thumb {
  padding: 56px;
  max-width: 519px;
  text-align: left;
  border-radius: 16px;
}
.present__title {
  color: #353535;
  font-size: 43px;
  line-height: 1.12;
  margin-bottom: 19px;
}
.present__highlight {
  color: #FFB30E;
}
.present__text {
  color: rgba(97, 97, 97, 0.69);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 111px;
}
.present__button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(150deg, #FFB800 0%, #FF8A00 100%);
}

.cta {
  background-image: url(../images/cta/bg.jpg);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 91px;
  padding-bottom: 75px;
}
.cta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta__title {
  color: var(--theme-white, #FFF);
  text-align: center;
  font-size: 57px;
  font-weight: 900;
  line-height: 0.97;
  max-width: 728px;
  margin-bottom: 62px;
}
.cta__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  background: linear-gradient(139deg, #F17228 0%, #F15E28 100%);
  color: var(--theme-white, #FFF);
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1510px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo__img {
  width: 28px;
  height: 30px;
  margin-right: 12px;
}
.logo__name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: var(--main-color);
  font-family: "Open sans";
  font-size: 31px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.778px;
}
.logo__food {
  color: var(--second-color);
}
.logo__g {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.509px;
}

button {
  padding: 21px 48px;
  border-radius: 8px;
  border: 0px;
}

.login-btn {
  display: flex;
  padding: 14px 24px;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
  border: 0px;
}

.slick-list {
  overflow: hidden;
}

.slick-js {
  min-width: 0;
}

.slick-track {
  display: flex;
}

.slick-js {
  position: relative;
}

.slick-js .slick-arrow {
  position: absolute;
  font-size: 0px;
  top: 30%;
  width: 76px;
  height: 76px;
  z-index: 120;
}

.slick-js .slick-arrow.slick-prev {
  left: 0;
  transform: translateX(-100%);
  background: url(../images/popular/Arrow-Left.svg) 0 0/100% no-repeat;
}

.slick-js .slick-arrow.slick-next {
  right: 0;
  transform: translateX(100%);
  background: url(../images/popular/Arrow-Right.svg) 0 0/100% no-repeat;
}

.product-card {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.product-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.product-card__name {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 18px;
  margin-bottom: 8px;
}
.product-card__location-thumb {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
  color: var(--theme-primary, #FFB30E);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}
.product-card__price {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}
.product-card__button {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  min-width: 100%;
  border-radius: 8px;
  background: var(--theme-warning, #F17228);
}

.footer {
  background-color: #212121;
}
.footer__container {
  display: flex;
  flex-direction: column;
  margin-top: 99px;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 69px;
}

.sities {
  width: 100%;
  margin-bottom: 99px;
}
.sities__title {
  text-align: start;
  margin-bottom: 40px;
}
.sities__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siti {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  margin-bottom: 16px;
}

.menu {
  padding-top: 63px;
  padding-bottom: 63px;
}
.menu__title {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}
.menu__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.menu__list {
  min-width: 607px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__link {
  display: flex;
  flex-direction: column;
  color: #F5F5F5;
  font-size: 18px;
  line-height: 1;
}
.menu__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.follow {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 63px;
}
.follow__title {
  text-align: left;
  color: #BBB;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 43px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subscribe-label {
  color: #BBB;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 40px;
}

.subscribe-thumb {
  position: relative;
}

.subscribe__thumb {
  position: relative;
}

#subscribe__email {
  padding: 17px 144px 18px 50px;
  border: 0px;
  border-radius: 8px;
  background: #424242;
  color: #ADADAD;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

#subscribe__email::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

#subscribe__email::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.follow__button {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(150deg, #FFB800 0%, #FF8A00 100%);
  margin-left: 16px;
}

.subscribe-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.signature {
  display: flex;
  justify-content: space-between;
}
.signature__rights {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
.signature__company {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
.signature__made {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.made {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}

.autor {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
}/*# sourceMappingURL=index.css.map */